* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 14px;
    line-height: 28px;
}

main {
    display: flex;
    height: 100vh;
}
aside {
    width: 200px;
    background-color: lightblue;
}
header {
    background-color: lightskyblue;
    height: 50px;
}
section {
    flex: 1;
}

header {
    display: flex;
    align-items: center;
}
header a {
    margin: 0 10px;
}
header .login {
    margin-left: auto;
}
