* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 14px;
    line-height: 24px;
}

.container {
    display: flex;
    height: 100vh;
}

aside {
    flex: 0 0 300px;
    background-color: lightseagreen;
    overflow-y: auto;
}

section {
    background-color: darkgray;
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    background-color: lightskyblue;
    flex: 0 0 100px;
}

main {
    background-color: lightslategrey;
    flex: 1;
    overflow-y: auto;
}

footer {
    background-color: lightcoral;
    flex: 0 0 50px;
}
