* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 14px;
    line-height: 28px;
}

main {
    display: flex;
    height: 100vh;
}
aside {
    width: 200px;
    background-color: lightblue;
}
header {
    background-color: lightskyblue;
    height: 50px;
}
section {
    flex: 1;
}

ul {
    display: flex;
}
li {
    list-style: none;
    margin: 5px;
    height: 28px;
    display: flex;
}

.propName {
    width: 200px;
}
.operation {
    width: 100px;
}
.value {
    flex: 1;
    display: flex;
}
.value.ipRange input {
    flex: 1;
}
.value.ipRange span {
    width: 1rem;
    text-align: center;
}
.option {
    width: 4.5rem;
    display: flex;
    justify-content: space-between;
}
.option button {
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    border-radius: 100%;
    border: 1px solid #ccc;
}
.value.ip input {
    width: 100%;
    flex: 1;
}
.value.ip span {
    width: 0.5rem;
}
